<a href="https://colab.research.google.com/github/vibeshvidya/AWS-Demos/blob/master/Python_Day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#for temp_var in sequence:
	#body of for

for num in range(10):
	print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(1,11):
	print(num)

1
2
3
4
5
6
7
8
9
10

In [6]:
for num in range(1,10,3):
	print(num)

1
4
7

In [8]:
for num in range(1,25):
	if num%2 == 0:
	  print(num)

2
4
6
8
10
12
14
16
18
20
22
24

In [18]:
for num in range(1,25):
	if num%2 == 0 and num%5 ==0:
	  print(num)

10
20

In [19]:
for num in range(1,25):
	if num%2 == 0:
	  print(num)

2
4
6
8
10
12
14
16
18
20
22
24

In [24]:
numbers= [1,3,5,7,8,10]
for num in numbers:
  if num==8:
    break
  else:
    print(num)

1
3
5
7

In [34]:
numbers=[20,-13,25,10,-3,8,-6,15]
for num in numbers:
    if num<0:
      continue
    else:
      print(num)

20
25
10
8
15

In [42]:
numbers=[0,2,0,3]
for i in numbers:
  if i ==0:
    continue
  else:
    print(i**2)

4
9

In [45]:
numbers=[0,2,0,3]
for i in numbers:
  if i ==0:
    pass
  else:
    print(i**2)

4
9

In [47]:
for i in range(5):
  if i == 3:
    pass  # Do nothing when i is 2
  else:
    print(i)

0
1
2
4

In [49]:
names=["Remays","Krishna","Bala","Verni","Kripa","Tarun"]
for name in names:
  if name.startswith("K"):
    print(name)

Krishna
Kripa

In [50]:
days=["mon","tue","wed","thurs","frid","sat","sun"]
weekend=["sat","sun"]
for day in days:
  if day in weekend:
    print(day,"is weekend")
  else:
    print(day,"is weekday")

mon is weekday
tue is weekday
wed is weekday
thurs is weekday
frid is weekday
sat is weekend
sun is weekend

In [66]:
grocery_list = ["vegetables", "chicken", "eggs", "powder", "sugar",
                "salt", "oil", "tea", "mineral water", "coffee"]

new_items = ["vegetables", "chicken", "eggs", "powder", "sugar",
                "salt", "oil"]

for item in grocery_list:
    if item in new_items:
        print(item, "Bought")
    else:
        print(item, "Forgot to buy")

vegetables Bought
chicken Bought
eggs Bought
powder Bought
sugar Bought
salt Bought
oil Bought
tea Forgot to buy
mineral water Forgot to buy
coffee Forgot to buy

In [67]:
grocery_list = ["sugar", "salt", "pepper", "oil", "curd", "rice", "bread"]
new_items = ["salt", "chilly", "egg", "milk"]
for item in new_items:
    if item in grocery_list:
        print(f"{item} is already in the list.")
    else:
        grocery_list.append(item)
        print(f"{item} added to the grocery list.")
print("Final Grocery List:")
print(grocery_list)

salt is already in the list.
chilly added to the grocery list.
egg added to the grocery list.
milk added to the grocery list.
Final Grocery List:
['sugar', 'salt', 'pepper', 'oil', 'curd', 'rice', 'bread', 'chilly', 'egg', 'milk']

In [84]:
#Dictionary functions

inventory={
    "apples":130, "oranges":75, "grapes":25,"banana":40
}
#inventory.keys()
#inventory.values()
#inventory.items()
for item, value in inventory.items():
    print(item,value)

apples 130
oranges 75
grapes 25
banana 40

In [85]:
for item in inventory.keys():
    print(item)

apples
oranges
grapes
banana

In [87]:
for item,qty in inventory.items():
  if qty<30:
    print(f"{item} need to be restocked")
  else:
    print(f"{item} in stock")

apples in stock
oranges in stock
grapes need to be restocked
banana in stock

In [88]:
for item in inventory.items():
  itemname,qty=item
  if qty<30:
    print(f"{itemname} need to be restocked")
  else:
    print(f"{itemname} in stock")

apples in stock
oranges in stock
grapes need to be restocked
banana in stock

In [89]:
for item in inventory.items():
 itemname=item[0]
 qty=item[1]
 if qty<30:
    print(f"{itemname} need to be restocked")
 else:
    print(f"{itemname} in stock")

apples in stock
oranges in stock
grapes need to be restocked
banana in stock

In [91]:
marks = {"Vibesh": 30, "Sreya": 82, "Anil": 74, "Vidya": 25, "Ami": 40}

for name in marks:
    if marks[name] < 40:
        print(name, "Fail")
    else:
        print(name, "Pass")

Vibesh Fail
Sreya Pass
Anil Pass
Vidya Fail
Ami Pass

In [94]:
grade={
    "Vibesh":30, "Sreya":82, "Anil":74, "Vidya":25, "Ami":40
}
for name,marks in grade.items():
  if marks<40:
    print(name, marks,"Fail")
  else:
    print(name, marks,"Pass")

Vibesh 30 Fail
Sreya 82 Pass
Anil 74 Pass
Vidya 25 Fail
Ami 40 Pass

In [100]:
ABCCompany= {
    "IT":{"Anna":35000,
          "Akshay":45000},
    "HR":{"Mahi":23000,
          "Sanjana":30000},
    "Sales":{"Rakesh":40000,
              "Abhi":25000}
            }
ABCCompany["Sales"]

{'Rakesh': 40000, 'Abhi': 25000}

In [131]:
for dept,employees in ABCCompany.items():
  for name,sal in employees.items():
    if sal<30000:
      print(dept, name, sal)

HR Mahi 23000
Sales Abhi 25000

In [141]:
for i in range(1,10):
  #print(i*1)
  #print(i*2)
  for j in range(1,11):
    print(f"{i}*{j}={i*j}")
    print("---------")

1*1=1
---------
1*2=2
---------
1*3=3
---------
1*4=4
---------
1*5=5
---------
1*6=6
---------
1*7=7
---------
1*8=8
---------
1*9=9
---------
1*10=10
---------
2*1=2
---------
2*2=4
---------
2*3=6
---------
2*4=8
---------
2*5=10
---------
2*6=12
---------
2*7=14
---------
2*8=16
---------
2*9=18
---------
2*10=20
---------
3*1=3
---------
3*2=6
---------
3*3=9
---------
3*4=12
---------
3*5=15
---------
3*6=18
---------
3*7=21
---------
3*8=24
---------
3*9=27
---------
3*10=30
---------
4*1=4
---------
4*2=8
---------
4*3=12
---------
4*4=16
---------
4*5=20
---------
4*6=24
---------
4*7=28
---------
4*8=32
---------
4*9=36
---------
4*10=40
---------
5*1=5
---------
5*2=10
---------
5*3=15
---------
5*4=20
---------
5*5=25
---------
5*6=30
---------
5*7=35
---------
5*8=40
---------
5*9=45
---------
5*10=50
---------
6*1=6
---------
6*2=12
---------
6*3=18
---------
6*4=24
---------
6*5=30
---------
6*6=36
---------
6*7=42
---------
6*8=48
---------
6*9=54
---------
6*10=60
---------
7*1=7
---------
7*2=14
---------
7*3=21
---------
7*4=28
---------
7*5=35
---------
7*6=42
---------
7*7=49
---------
7*8=56
---------
7*9=63
---------
7*10=70
---------
8*1=8
---------
8*2=16
---------
8*3=24
---------
8*4=32
---------
8*5=40
---------
8*6=48
---------
8*7=56
---------
8*8=64
---------
8*9=72
---------
8*10=80
---------
9*1=9
---------
9*2=18
---------
9*3=27
---------
9*4=36
---------
9*5=45
---------
9*6=54
---------
9*7=63
---------
9*8=72
---------
9*9=81
---------
9*10=90
---------

In [3]:
count = 1
while count<10:
  print("Hello",count)
  count +=3
else:
  print("While loop completed")

Hello 1
Hello 4
Hello 7
While loop completed

In [4]:
# Ask the user for savings goal
goal = float(input("Enter your savings goal amount: "))

total_savings = 0

# Keep adding until goal is reached
while total_savings < goal:
    deposit = float(input("Enter amount to deposit: "))
    total_savings += deposit
    print("Current savings:", total_savings)

if total_savings >= goal:
    print("🎉 Congratulations! You have reached your savings goal of", goal)

Enter your savings goal amount: 3000
Enter amount to deposit: 150
Current savings: 150.0
Enter amount to deposit: 300
Current savings: 450.0
Enter amount to deposit: 300
Current savings: 750.0
Enter amount to deposit: 400
Current savings: 1150.0
Enter amount to deposit: 200
Current savings: 1350.0
Enter amount to deposit: 300
Current savings: 1650.0
Enter amount to deposit: 433
Current savings: 2083.0
Enter amount to deposit: 222
Current savings: 2305.0
Enter amount to deposit: 222
Current savings: 2527.0
Enter amount to deposit: 333
Current savings: 2860.0
Enter amount to deposit: 444
Current savings: 3304.0
🎉 Congratulations! You have reached your savings goal of 3000.0

In [7]:
goal=float(input("Enter your savings goal amount: "))
total_savings=0

while total_savings<goal:
  amount=int(input("enter your deposit amount"))
  total_savings+=amount
  if total_savings<goal:
    balance = goal-total_savings
    print(f"you need {balance} rupees to reach your goal")
  else:
    print("you have reached your goal")

Enter your savings goal amount: 2000
enter your deposit amount200
you need 1800.0 rupees to reach your goal
enter your deposit amount400
you need 1400.0 rupees to reach your goal
enter your deposit amount200
you need 1200.0 rupees to reach your goal
enter your deposit amount1200
you have reached your goal