<a href="https://colab.research.google.com/github/vibeshvidya/AWS-Demos/blob/master/Python_Day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#for temp_var in sequence:
	#body of for

for num in range(10):
	print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(1,11):
	print(num)

1
2
3
4
5
6
7
8
9
10

In [6]:
for num in range(1,10,3):
	print(num)

1
4
7

In [8]:
for num in range(1,25):
	if num%2 == 0:
	  print(num)

2
4
6
8
10
12
14
16
18
20
22
24

In [18]:
for num in range(1,25):
	if num%2 == 0 and num%5 ==0:
	  print(num)

10
20

In [19]:
for num in range(1,25):
	if num%2 == 0:
	  print(num)

2
4
6
8
10
12
14
16
18
20
22
24

In [24]:
numbers= [1,3,5,7,8,10]
for num in numbers:
  if num==8:
    break
  else:
    print(num)

1
3
5
7

In [34]:
numbers=[20,-13,25,10,-3,8,-6,15]
for num in numbers:
    if num<0:
      continue
    else:
      print(num)

20
25
10
8
15

In [42]:
numbers=[0,2,0,3]
for i in numbers:
  if i ==0:
    continue
  else:
    print(i**2)

4
9

In [45]:
numbers=[0,2,0,3]
for i in numbers:
  if i ==0:
    pass
  else:
    print(i**2)

4
9

In [47]:
for i in range(5):
  if i == 3:
    pass  # Do nothing when i is 2
  else:
    print(i)

0
1
2
4

In [49]:
names=["Remays","Krishna","Bala","Verni","Kripa","Tarun"]
for name in names:
  if name.startswith("K"):
    print(name)

Krishna
Kripa

In [50]:
days=["mon","tue","wed","thurs","frid","sat","sun"]
weekend=["sat","sun"]
for day in days:
  if day in weekend:
    print(day,"is weekend")
  else:
    print(day,"is weekday")

mon is weekday
tue is weekday
wed is weekday
thurs is weekday
frid is weekday
sat is weekend
sun is weekend

In [66]:
grocery_list = ["vegetables", "chicken", "eggs", "powder", "sugar",
                "salt", "oil", "tea", "mineral water", "coffee"]

new_items = ["vegetables", "chicken", "eggs", "powder", "sugar",
                "salt", "oil"]

for item in grocery_list:
    if item in new_items:
        print(item, "Bought")
    else:
        print(item, "Forgot to buy")

vegetables Bought
chicken Bought
eggs Bought
powder Bought
sugar Bought
salt Bought
oil Bought
tea Forgot to buy
mineral water Forgot to buy
coffee Forgot to buy