<a href="https://colab.research.google.com/github/vibeshvidya/AWS-Demos/blob/master/PythonDay6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#functions in python
#lambda function
#recursive function
def cube(n):
  return(n**3)
N=5
c=cube(N)
print(c)

125

In [18]:
visitor_name=input("Enter your name:")
greet(visitor_name,"good morning")

Enter your name:vibesh

TypeError: greet() takes 1 positional argument but 2 were given

In [26]:
def greet(name,timeofday):
  print(f"Hello {name} {timeofday}, Welcome to India")
  print("How May I help you")

visitor_name=input("Enter your name:")
greet(visitor_name,"good morning")

Enter your name:vibesh
Hello vibesh good morning, Welcome to India
How May I help you

In [38]:
from datetime import datetime
def greetwithTime(name):
  cur_time=datetime.now().hour
  if cur_time>=0 and cur_time<12:
    timeofday="Good Morning"
  elif cur_time>=12 and cur_time<16:
    timeofday="Good Afternoon"
  else:
    timeofday="Good Evening"
  print(f"Hello {name} {timeofday}, Welcome to India")
  print("How May I help you")


visitor_name=input("Enter your name:")
greetwithTime(visitor_name)

Enter your name:deepthi
Hello deepthi Good Morning, Welcome to India
How May I help you

In [47]:
def intro(name,age,place):
  print(f"Hello {name} you are {age} years old and you are from {place}")
intro("anju",20,"cochin ")
intro(name="pooja",age=20,place="cochin")
greet(visitor_name,"hello")

Hello anju you are 20 years old and you are from cochin
Hello pooja you are 20 years old and you are from cochin
Hello deepthi hello, Welcome to India
How May I help you

In [77]:
import statistics as stat
def createstatsummary(data):
  mean_value=stat.mean(data)
  median_value=stat.median(data)
  mode_value=stat.mode(data)
  #return mean_value,median_value,mode_value
  return mean_value
  #print(f"The mean value is {mean_value}")
  #print(f"The median value is {median_value}")
  #print(f"The mode value is {mode_value}")


numbers=[3,120,11,22,123,221,232,12,224,532]
#create a statistical summary like mean value, median and mode
#createstatsummary(numbers)
mean_value=createstatsummary(numbers)
if mean_value>160:
 print("The mean value is greater than 160")
else:
  print(f"The mean value is {mean_value}")

The mean value is 150

In [100]:
def total_bill(itemprice,itemqty,itemdiscount=0.15,taxpercent=0.18):
  bill_amt=itemprice*itemqty*(1-itemdiscount)
  total_bill_amt=bill_amt+bill_amt*taxpercent
  #return total_bill_amt
  print(f"The total bill amount is {total_bill_amt} after discount. Thank you and please shop again")

#total_bill(1000,2,.15)
total_bill(1000,1)

The total bill amount is 1003.0 after discount. Thank you and please shop again

In [ ]:
#arbitrary arguments

In [136]:
def make_pizza(*toppings):
  print(f"The toppings for the pizza are {toppings}")
  for top in toppings:
    print("-",top)
  #print("total toppings ",(toppings))
  print(type(toppings))


make_pizza("cheese",)
make_pizza("cheese","onions","capsicum")
make_pizza("cheese","onions","capsicum","olives")

The toppings for the pizza are ('cheese',)
- cheese
<class 'tuple'>
The toppings for the pizza are ('cheese', 'onions', 'capsicum')
- cheese
- onions
- capsicum
<class 'tuple'>
The toppings for the pizza are ('cheese', 'onions', 'capsicum', 'olives')
- cheese
- onions
- capsicum
- olives
<class 'tuple'>

In [162]:
def create_profile(**details):
  print("Profile Details")
  for k,v in details.items():
    print(f"{k} = {v}")
  print(type(details))
  print("*******************")
create_profile(name="Anju",age=20,place="cochin")
create_profile(name="Pooja",age=20,place="cochin",graduation="MCA",grade="A")
create_profile(name="deepa",age=21,place="kozhikode")

Profile Details
name = Anju
age = 20
place = cochin
<class 'dict'>
*******************
Profile Details
name = Pooja
age = 20
place = cochin
graduation = MCA
grade = A
<class 'dict'>
*******************
Profile Details
name = deepa
age = 21
place = kozhikode
<class 'dict'>
*******************

In [164]:
#lambda function
add= lambda x,y:x+y
(add(2,3))

5

In [176]:
price=[100,200,212,240,211]
disc_prices=list(map(lambda x:x*0.9,price))
#disc_prices
print(list(disc_prices))

[90.0, 180.0, 190.8, 216.0, 189.9]

In [178]:
low_vals=list(filter(lambda x:x<200,price))
low_vals

[100]

Key value pair

In [181]:
def square(num):
  return num ** 2
numbers=[1,2,3,4,5]
sqaured_nums= list(map(square,numbers))
sqaured_nums

list