<a href="https://colab.research.google.com/github/vibeshvidya/AWS-Demos/blob/master/Python_Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Multiplication
x=25
y=10
print(x%y)

5

In [2]:
print(x/y)

2.5

In [4]:
a=10
b=3
print(a**b)

1000

In [6]:
age=18
print(age>25)

False

In [7]:
print(age==30)

False

In [8]:
order_qty=120
max_order=200
print(order_qty>max_order)

False

In [13]:
user="admin"
pw="1232"
print(user=="admin" and pw=="1234")

False

In [14]:
income=50000
credit_score=650
print(income>=50000 and credit_score==650)

True

In [60]:
income=40000
credit_score=650
print(income>=50000 and credit_score==650)

False

In [24]:
income = 40000
credit_score = 650
customer_sal = int(input("Enter customer monthly salary: "))
customer_credit = int(input("Enter existing credit amount: "))
if credit_score >= 700 and customer_sal >= 25000 and customer_credit <= 500000:
    print(True)
else:
    print(False)

Enter customer monthly salary: 60000
Enter existing credit amount: 70000
False

In [25]:
min_salary=50000
credit_score=658
cus_salary=int(input("Enter your salary"))
cus_credit=int(input("Enter your credit_score"))
print(cus_salary>=min_salary and cus_credit>=credit_score)

Enter your salary4000
Enter your credit_score300
False

In [59]:
salary=40000
credit_score=650
customer_sal=int(input("enter your income"))
customer_credit=int(input("enter your credit score"))
print((customer_sal>=salary) and (customer_credit>=credit_score))

enter your income3000
enter your credit score22
False

In [33]:
stock=50
print(stock)
stock+=10
print(stock)

50
60

In [34]:
stock=50
print(stock)
stock+=10
stock=stock+10
print(stock)

50
70

In [37]:
#assignment operators

stock=50
print(stock)
stock-=10
stock=stock+10
print(stock)

50
50

In [38]:
stock*=2
print(stock)

100

In [39]:
a=25
b=10
c=a
print(a is b)

False

In [40]:
a=25
b=10
c=a
print(a is b)
print(c is b)

False
False

In [41]:
a=25
b=10
c=a
print(a is b)
print(c is a)

False
True

In [55]:
print("pi" in "python")

False

In [44]:
names=("vibesh", "ravi", "thejas")
print("vibesh" in names)

True

In [45]:
text="I love programming in python"
print("python" in text)

True

In [47]:
print("Python" in text)

False

In [49]:
print ("Py" in "Python")

True

In [50]:
numbers=(1,2,3,4,5)
print(1 in numbers)

True

In [54]:
print(1 in (1,1,2,4,3))

True

In [52]:
print(1 in (1,1,2,4,3))

True

In [53]:
print(5 in (3,2,3,2,44))

False

In [61]:
groceries =["milk","eggs","bread"]
type(groceries)
print("Grocery list are as follows:",groceries)

Grocery list are as follows: ['milk', 'eggs', 'bread']

In [62]:
groceries =["milk","eggs","bread"]
type(groceries)
print("Grocery list are as follows:",groceries)
len(groceries)

Grocery list are as follows: ['milk', 'eggs', 'bread']

3

In [63]:
groceries =["milk","eggs","bread"]
type(groceries)
print("Grocery list are as follows:",groceries)
len(groceries)
groceries[0]

Grocery list are as follows: ['milk', 'eggs', 'bread']

'milk'

In [66]:
groceries =["milk","eggs","bread"]
type(groceries)
print("Grocery list are as follows:",groceries)
print(len(groceries))
print(groceries[0])

Grocery list are as follows: ['milk', 'eggs', 'bread']
3
milk

In [76]:
groceries =["milk","eggs","bread"]
type(groceries)
print("Grocery list are as follows:",groceries)
print(len(groceries))
print(groceries[0])
print(groceries[-3:-1])
print(groceries.reverse)

Grocery list are as follows: ['milk', 'eggs', 'bread']
3
milk
['milk', 'eggs']
<built-in method reverse of list object at 0x79283eb97480>

In [77]:
groceries =["milk","eggs","bread"]
type(groceries)
print(groceries.reverse)

<built-in method reverse of list object at 0x79283ee46d40>

NameError: name 'new_list' is not defined

In [80]:
gro_list=groceries+ new_list
new_list=("apples","sweets")
print(gro_list)

NameError: name 'new_list' is not defined

In [83]:
groceries =["milk","eggs","bread"]
new_list=["apples","sweets"]
gro_list=groceries+ new_list
print(gro_list)

['milk', 'eggs', 'bread', 'apples', 'sweets']

In [98]:
gro_list.insert(1,"curd")
print(gro_list)

['curd', 'curd', 'curd', 'curd', 'curd', 'curd', 'curd', 'milk', 'curd', 'eggs', 'curd', 'curd', 'curd', 'bread', 'apples', 'sweets']

In [99]:
new_list2=["potatoes","onions","bread"]
gro_list.extend(new_list2)
gro_list

['curd',
 'curd',
 'curd',
 'curd',
 'curd',
 'curd',
 'curd',
 'milk',
 'curd',
 'eggs',
 'curd',
 'curd',
 'curd',
 'bread',
 'apples',
 'sweets',
 'potatoes',
 'onions',
 'bread']

In [100]:
gro_list.count("curd")

11

In [101]:
gro_list.remove("curd")

In [117]:
gro_list.append("curd")
print(gro_list)

['milk', 'eggs', 'bread', 'apples', 'sweets', 'potatoes', 'onions', 'bread', 'curd', 'curd']