<a href="https://colab.research.google.com/github/vibeshvidya/AWS-Demos/blob/master/Python_Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
car={
    "brand":"Maruti",
    "model":"Sedan",
    "Year":"1990",
    "Automatic":"Yes"
}
car

{'brand': 'Maruti', 'model': 'Sedan', 'Year': '1990', 'Automatic': 'Yes'}

In [6]:
print(car)

{'brand': 'Maruti', 'model': 'Sedan', 'Year': '1990', 'Automatic': 'Yes'}

In [7]:
print(len(car))

4

In [8]:
type(car)

dict

In [14]:
car =dict(brand="Maruti", price="5L",model=2024)
car

{'brand': 'Maruti', 'price': '5L', 'model': 2024}

In [16]:
car['brand']

'Maruti'

In [18]:
car.get('model')

2024

In [19]:
car.get("price")

'5L'

In [20]:
y=car.keys()
y

dict_keys(['brand', 'price', 'model'])

In [28]:
z=car.values()
z
type(z)

dict_values

In [27]:
car['brand']="Ford"
car.values()
type(car)

dict

In [26]:
a=car.items()
a
type(a)

dict_items

In [25]:
type(a)

dict_items

In [29]:
print(a)

dict_items([('brand', 'Ford'), ('price', '5L'), ('model', 2024)])

In [33]:
car.get("price")

'5L'

In [38]:
car.update({"price":"6L"})
car

{'brand': 'Ford', 'price': '6L', 'model': 2024}

In [39]:
car["dummy"]=""
car

{'brand': 'Ford', 'price': '6L', 'model': 2024, 'dummy': ''}

In [40]:
car.popitem()
car

{'brand': 'Ford', 'price': '6L', 'model': 2024}

In [44]:
car.pop("price")
car

{'model': 2024}

In [45]:
print(car)

{'model': 2024}

In [49]:
car={
    "brand":"Maruti",
    "model":"Sedan",
    "Year":"1990",
    "Automatic":"Yes"
}
car

{'brand': 'Maruti', 'model': 'Sedan', 'Year': '1990', 'Automatic': 'Yes'}

In [54]:
car

NameError: name 'car' is not defined

In [55]:
print(car)

NameError: name 'car' is not defined

In [56]:
car={
    "brand":"Maruti",
    "model":"Sedan",
    "Year":"1990",
    "Automatic":"Yes"
}
car

{'brand': 'Maruti', 'model': 'Sedan', 'Year': '1990', 'Automatic': 'Yes'}

In [57]:
del car["Automatic"]
car

{'brand': 'Maruti', 'model': 'Sedan', 'Year': '1990'}

In [58]:
del car

In [59]:
car

NameError: name 'car' is not defined

In [60]:
car.clear()

NameError: name 'car' is not defined

In [61]:
car={
    "brand":"Maruti",
    "model":"Sedan",
    "Year":"1990",
    "Automatic":"Yes"
}
car

{'brand': 'Maruti', 'model': 'Sedan', 'Year': '1990', 'Automatic': 'Yes'}

In [62]:
car.clear()

In [63]:
car

{}

In [64]:
car={
    "brand":"Ford",
    "model":"Sedan",
    "Year":"1990",
    "Automatic":"Yes"
}
car

{'brand': 'Ford', 'model': 'Sedan', 'Year': '1990', 'Automatic': 'Yes'}

In [67]:
car ={
    "car1":{
    "brand":"Ford",
    "model":"Sedan",
    "Year":"1990",
    "Automatic":"Yes"
    },
    "car2":{
    "brand":"Maruti",
    "model":"Sedan",
    "Year":"1993",
    "Automatic":"No"},
    "car3":{
    "brand":"Tata",
    "model":"SUV",
    "Year":"1990",
    "Automatic":"Yes"}
}
car

{'car1': {'brand': 'Ford',
  'model': 'Sedan',
  'Year': '1990',
  'Automatic': 'Yes'},
 'car2': {'brand': 'Maruti',
  'model': 'Sedan',
  'Year': '1993',
  'Automatic': 'No'},
 'car3': {'brand': 'Tata', 'model': 'SUV', 'Year': '1990', 'Automatic': 'Yes'}}

In [68]:
car.get("car1")

{'brand': 'Ford', 'model': 'Sedan', 'Year': '1990', 'Automatic': 'Yes'}

In [73]:
car['car3']['Year']

'1990'

In [79]:
print(car1)

NameError: name 'car1' is not defined

In [82]:
car ={
    "car1":{
    "brand":"Ford",
    "model":"Sedan",
    "Year":"1990",
    "Automatic":"Yes"
    },
    "car2":{
    "brand":"Maruti",
    "model":"Sedan",
    "Year":"1993",
    "Automatic":"No"
    },
    "car3":{
    "brand":"Tata",
    "model":"SUV",
    "Year":"1990",
    "Automatic":"Yes"}
}
car

{'car1': {'brand': 'Ford',
  'model': 'Sedan',
  'Year': '1990',
  'Automatic': 'Yes'},
 'car2': {'brand': 'Maruti',
  'model': 'Sedan',
  'Year': '1993',
  'Automatic': 'No'},
 'car3': {'brand': 'Tata', 'model': 'SUV', 'Year': '1990', 'Automatic': 'Yes'}}

In [84]:
print(car2)

{'car1': {'brand': 'Ford', 'model': 'Sedan', 'Year': '1990', 'Automatic': 'Yes'}, 'car2': {'brand': 'Maruti', 'model': 'Sedan', 'Year': '1993', 'Automatic': 'No'}, 'car3': {'brand': 'Tata', 'model': 'SUV', 'Year': '1990', 'Automatic': 'Yes'}}

In [92]:
car ={
    "car1":{
    "brand":"Ford",
    "model":"Sedan",
    "Year":"1990",
    "Automatic":"Yes"
    },
    "car2":{
    "brand":"Maruti",
    "model":"Sedan",
    "Year":"1993",
    "Automatic":"No"
    },
    "car3":{
    "brand":"Tata",
    "model":"SUV",
    "Year":"1990",
    "Automatic":"Yes"}
}
car
car.get("car2")
car['car2']

{'brand': 'Maruti', 'model': 'Sedan', 'Year': '1993', 'Automatic': 'No'}

In [99]:
new_car={
    "new_car1":car1,
    "new_car2":car2,
    "new_car3":car3
}

NameError: name 'car1' is not defined

In [100]:
car ={
    "car1":{
    "brand":"Ford",
    "model":"Sedan",
    "Year":"1990",
    "Automatic":"Yes"
    },
    "car2":{
    "brand":"Maruti",
    "model":"Sedan",
    "Year":"1993",
    "Automatic":"No"
    },
    "car3":{
    "brand":"Tata",
    "model":"SUV",
    "Year":"1990",
    "Automatic":"Yes"}
}
car
new_car={
    "new_car1":car1,
    "new_car2":car2,
    "new_car3":car3
}

NameError: name 'car1' is not defined

In [101]:
car ={
    "car1"={
    "brand":"Ford",
    "model":"Sedan",
    "Year":"1990",
    "Automatic":"Yes"
    },
    "car2"={
    "brand":"Maruti",
    "model":"Sedan",
    "Year":"1993",
    "Automatic":"No"
    },
    "car3"={
    "brand":"Tata",
    "model":"SUV",
    "Year":"1990",
    "Automatic":"Yes"}
}
car

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (ipython-input-731183810.py, line 2)

In [102]:
car ={
    "car1":{
    "brand":"Ford",
    "model":"Sedan",
    "Year":"1990",
    "Automatic":"Yes"
    },
    "car2":{
    "brand":"Maruti",
    "model":"Sedan",
    "Year":"1993",
    "Automatic":"No"
    },
    "car3":{
    "brand":"Tata",
    "model":"SUV",
    "Year":"1990",
    "Automatic":"Yes"}
}

In [103]:
car

{'car1': {'brand': 'Ford',
  'model': 'Sedan',
  'Year': '1990',
  'Automatic': 'Yes'},
 'car2': {'brand': 'Maruti',
  'model': 'Sedan',
  'Year': '1993',
  'Automatic': 'No'},
 'car3': {'brand': 'Tata', 'model': 'SUV', 'Year': '1990', 'Automatic': 'Yes'}}

In [105]:
car {
    car1= {
    "brand":"Ford",
    "model":"Sedan",
    "Year":"1990",
    "Automatic":"Yes"
    },
    car2= {
    "brand":"Maruti",
    "model":"Sedan",
    "Year":"1993",
    "Automatic":"No"
    },
    car3= {
    "brand":"Tata",
    "model":"SUV",
    "Year":"1990",
    "Automatic":"Yes"}
}

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (ipython-input-3159426151.py, line 2)

In [106]:
car = {
    "car1": {
        "brand": "Ford",
        "model": "Sedan",
        "Year": "1990",
        "Automatic": "Yes"
    },
    "car2": {
        "brand": "Maruti",
        "model": "Sedan",
        "Year": "1993",
        "Automatic": "No"
    },
    "car3": {
        "brand": "Tata",
        "model": "SUV",
        "Year": "1990",
        "Automatic": "Yes"
    }
}

In [107]:
car

{'car1': {'brand': 'Ford',
  'model': 'Sedan',
  'Year': '1990',
  'Automatic': 'Yes'},
 'car2': {'brand': 'Maruti',
  'model': 'Sedan',
  'Year': '1993',
  'Automatic': 'No'},
 'car3': {'brand': 'Tata', 'model': 'SUV', 'Year': '1990', 'Automatic': 'Yes'}}

In [108]:
print(car1)
print(car2)
print(car3)

NameError: name 'car1' is not defined

In [109]:
car = {
    "car1": {
        "brand": "Ford",
        "model": "Sedan",
        "Year": "1990",
        "Automatic": "Yes"
    },
    "car2": {
        "brand": "Maruti",
        "model": "Sedan",
        "Year": "1993",
        "Automatic": "No"
    },
    "car3": {
        "brand": "Tata",
        "model": "SUV",
        "Year": "1990",
        "Automatic": "Yes"
    }
}
print(car["car1"])
print(car["car2"])
print(car["car3"])

{'brand': 'Ford', 'model': 'Sedan', 'Year': '1990', 'Automatic': 'Yes'}
{'brand': 'Maruti', 'model': 'Sedan', 'Year': '1993', 'Automatic': 'No'}
{'brand': 'Tata', 'model': 'SUV', 'Year': '1990', 'Automatic': 'Yes'}

In [110]:
new_car={
"new_car1": car1,
"new_car2": car2,
"new_car3": car3
}

NameError: name 'car1' is not defined

In [111]:
new_car={
"new_car1": car["car1"],
"new_car2": car["car2"],
"new_car3": car["car3"]
}

In [112]:
new_car

{'new_car1': {'brand': 'Ford',
  'model': 'Sedan',
  'Year': '1990',
  'Automatic': 'Yes'},
 'new_car2': {'brand': 'Maruti',
  'model': 'Sedan',
  'Year': '1993',
  'Automatic': 'No'},
 'new_car3': {'brand': 'Tata',
  'model': 'SUV',
  'Year': '1990',
  'Automatic': 'Yes'}}

In [113]:
new_car[new_car1]['model']

NameError: name 'new_car1' is not defined

In [114]:
new_car["new_car1"]["model"]

'Sedan'

In [115]:
new_car["new_car2"]["model"]

'Sedan'

In [121]:
new_car["new_car1"]["model"]

'Sedan'

In [122]:
for car_key, car_value in new_car.items():
    print(f"{car_key} model: {car_value['model']}")

new_car1 model: Sedan
new_car2 model: Sedan
new_car3 model: SUV

In [132]:
for car_key, car_value in new_car.items():
    print(f"{car_key} Model: {car_value['model']}")

new_car1 Model: Sedan
new_car2 Model: Sedan
new_car3 Model: SUV

In [133]:
for car_key, car_value in new_car.items():
    print(f"--- {car_key} ---")
    for detail, info in car_value.items():
        print(f"{detail}: {info}")
    print()

--- new_car1 ---
brand: Ford
model: Sedan
Year: 1990
Automatic: Yes

--- new_car2 ---
brand: Maruti
model: Sedan
Year: 1993
Automatic: No

--- new_car3 ---
brand: Tata
model: SUV
Year: 1990
Automatic: Yes

In [140]:
acc_balance = 5000
withdraw = 2000
if withdraw <=acc_balance:
	balance =acc_balance-withdraw
	print(f"Transaction successfull.{withdraw} had been debited from your account." "Balance is" {balance})

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-2682348668.py, line 5)

In [141]:
acc_balance = 5000
withdraw = 2000
if withdraw <=acc_balance:
	balance =acc_balance-withdraw
	print(f"Transaction successfull.{withdraw} had been debited from your account.Balance is {balance})"

SyntaxError: incomplete input (ipython-input-319869880.py, line 5)

In [142]:
acc_balance = 5000
withdraw = 2000

if withdraw <= acc_balance:
    balance = acc_balance - withdraw
    print(f"Transaction successful. {withdraw} has been debited from your account. Balance is {balance}.")

Transaction successful. 2000 has been debited from your account. Balance is 3000.

In [143]:
acc_balance = 5000
withdraw = 2000
if withdraw <=acc_balance:
	balance =acc_balance-withdraw
	print(f"Transaction successfull.{withdraw} had been debited from your account.Balance is {balance}")

Transaction successfull.2000 had been debited from your account.Balance is 3000

In [146]:
acc_balance = 5000
withdraw = 20000

if withdraw <= acc_balance:
    balance = acc_balance - withdraw
    print(f"Transaction successful. {withdraw} has been debited from your account. Balance is {balance}.")

In [147]:
acc_balance = 5000
withdraw = 20000

if withdraw <= acc_balance:
    balance = acc_balance - withdraw
    print(f"Transaction successful. {withdraw} has been debited from your account. Balance is {balance}.")
else:
	print("Insufficient balance")

Insufficient balance

In [148]:
# Initial account balance
acc_balance = 5000

# Ask user for input
withdraw = int(input("Enter the amount you want to withdraw: "))

# Check balance
if withdraw <= acc_balance:
    balance = acc_balance - withdraw
    print(f" Transaction successful. {withdraw} has been debited from your account.")
    print(f" Remaining Balance: {balance}")
else:
    print(" Insufficient balance")

Enter the amount you want to withdraw: 3000
 Transaction successful. 3000 has been debited from your account.
 Remaining Balance: 2000

In [149]:
acc_balance = 5000
withdraw = 20000

if withdraw <= acc_balance:
    balance = acc_balance - withdraw
    print(f"Transaction successful. {withdraw} has been debited from your account. Balance is {balance}.")
else:
	print("Insufficient balance, Remaining balance:{balance}")

Insufficient balance, Remaining balance:{balance}

In [150]:
user = "admin"
password = "1234"
user= input("Enter the user name: ")
password= input("Enter the password: ")
if password ="1234":
	print(f"Login successfull")
else
	print(f"Login failed")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (ipython-input-1233919940.py, line 5)

In [151]:
user = "admin"
password = "1234"
user_input= input("Enter the user name: ")
password_input= input("Enter the password: ")
if user_input ==user and password_input==password:
	print(f"Login successfull")
else:
	print(f"Login failed")

Enter the user name: admin
Enter the password: 1234
Login successfull

In [152]:
user = "admin"
password = "1234"
user_input= input("Enter the user name: ")
password_input= input("Enter the password: ")
if user_input ==user and password_input==password:
	print(f"Login successfull")
else:
	print(f"Login failed")

Enter the user name: aaa
Enter the password: 212
Login failed

In [154]:
a=50
if a>20:
	print("High value")
elif a>16:
	print("Medium value")
elif a>10:
	print("Low value")
else:
	print("lease value")

High value

In [160]:
a=17
if a>20:
	print("High value")
elif a>16:
	print("Medium value")
elif a>10:
	print("Low value")
else:
	print("least value")

Medium value

In [161]:
if check_in<=9:
	print("ON TIME")
elif check_in >9 and <10:
	print("Late entry")
elif check in >10:
	print ("Half day leave")
else:
	print("Full day leave")

SyntaxError: invalid syntax (ipython-input-815382412.py, line 3)

In [162]:
if check_in<=9:
	print("ON TIME")
elif check_in >9 and check_in <10:
	print("Late entry")
elif check in >10:
	print ("Half day leave")
else:
	print("Full day leave")

SyntaxError: invalid syntax (ipython-input-3081966635.py, line 5)

In [163]:
if check_in<=9:
	print("ON TIME")
elif check_in >9 and check_in <10:
	print("Late entry")
elif check in >10 and check_in <=12:
	print ("Half day leave")
else:
	print("Full day leave")

SyntaxError: invalid syntax (ipython-input-3890739948.py, line 5)

In [164]:
if check_in<=9:
	print("ON TIME")
elif check_in >9 and check_in <10:
	print("Late entry")
elif check in >=10 and check_in <=12:
	print ("Half day leave")
else:
	print("Full day leave")

SyntaxError: invalid syntax (ipython-input-3847618621.py, line 5)

In [165]:
if check_in<=9:
	print("ON TIME")
elif check_in >9 and check_in <10:
	print("Late entry")
elif check in >=10 and check_in <=12:
	print ("Half day leave")
else:
	print("Full day leave")

SyntaxError: invalid syntax (ipython-input-1978750048.py, line 5)

In [166]:
if check_in <= 9:
    print("ON TIME")
elif check_in > 9 and check_in < 10:
    print("Late entry")
elif check_in >= 10 and check_in <= 12:   # assuming half-day till 12 PM
    print("Half day leave")
else:
    print("Full day leave")

NameError: name 'check_in' is not defined

In [167]:
check_in=float(input("Enter check-in time :"))
if check_in <= 9:
    print("ON TIME")
elif check_in > 9 and check_in < 10:
    print("Late entry")
elif check_in >= 10 and check_in <= 12:   # assuming half-day till 12 PM
    print("Half day leave")
else:
    print("Full day leave")

Enter check-in time :12
Half day leave

In [168]:
check_in=float(input("Enter check-in time :"))
if check_in <= 9:
    print("ON TIME")
elif check_in > 9 and check_in < 10:
    print("Late entry")
elif check_in >= 10 and check_in <= 12:   # assuming half-day till 12 PM
    print("Half day leave")
else:
    print("Full day leave")

Enter check-in time :12:40

ValueError: could not convert string to float: '12:40'

In [169]:
check_in=float(input("Enter check-in time :"))
if check_in <= 9:
    print("ON TIME")
elif check_in > 9 and check_in < 10:
    print("Late entry")
elif check_in >= 10 and check_in <= 12:   # assuming half-day till 12 PM
    print("Half day leave")
else:
    print("Full day leave")

Enter check-in time :1
ON TIME

In [170]:
check_in=float(input("Enter check-in time :"))
if check_in <= 9:
    print("ON TIME")
elif check_in > 9 and check_in < 10:
    print("Late entry")
elif check_in >= 10 and check_in <= 12:   # assuming half-day till 12 PM
    print("Half day leave")
else:
    print("Full day leave")

Enter check-in time :12.40
Full day leave

In [178]:
check_in = 28
if check_in <= 9:
    print("ON TIME")
elif check_in > 9 and check_in < 10:
    print("Late entry")
elif check_in >= 10 and check_in <= 12:   # assuming half-day till 12 PM
    print("Half day leave")
else:
    print("Full day leave")

Full day leave

In [179]:
a=10
if a is postitive
	print("Postive")
else:
	print("Negative")

SyntaxError: expected ':' (ipython-input-1390046762.py, line 2)

In [183]:
#a=10
a=int(input("Enter the number: "))
if a>=1:
    print("Postive")
elif  a<=0:
    print("Negative")
else:
    print("Negative")

Enter the number: 2
Postive

In [184]:
a=int(input("Enter the number: "))
if a>=1:
    print("Postive")
elif  a<=0:
    print("Negative")
else:
    print("Negative")

Enter the number: 4
Postive

In [187]:
tot_price=5000
final_price= tot_price*.25
if tot_price>5000:
	print("The final prices is : ",final_price)
else:
	print("There is no discount")

There is no discount

In [191]:
tot_price=8000
final_price= tot_price*.75
if tot_price>5000:
	print("The final prices is : ",final_price)
elif tot_price>2000:
	print("The final price is : ", tot_price*.10)
else:
	print("There is no discount")

The final prices is :  6000.0

In [194]:
product_price= int(input("Enter the price of the product"))
if product_price>5000:
	print("The final price is : ", product_price*.75)
elif product_price>2000:
	print("The final price is : ", product_price*.9)
else:
	print("There is no discount")

Enter the price of the product10000
The final price is :  7500.0

In [195]:
product_price= int(input("Enter the price of the product"))
if product_price>5000:
	print("The final price is :.2f ", product_price*.75)
elif product_price>2000:
	print("The final price is :.2f ", product_price*.9)
else:
	print("There is no discount")

Enter the price of the product2300
The final price is :.2f  2070.0

In [197]:
age=int(input("Enter your age: "))
if age<5:
	print("Free ticket")
elif age>=5 and age<=12:
	print ("Ticket charge is Rs 150")
elif age>=13 and age<=59:
	print("Ticket charge is Rs 250")
elif age >60:
	print("Ticket charge is Rs 120")
else:
	print("There is no discount")

Enter your age: 13
Ticket charge is Rs 250